<div id="restaurant-registration-root"></div>

<script>
  window.restaurantRegistrationData = {
    csrfToken: '<%= form_authenticity_token %>',
    registrationPath: '<%= registration_path(resource_name) %>',
    minimumPasswordLength: <%= @minimum_password_length || 6 %>,
    errors: <%= resource.errors.full_messages.to_json.html_safe %>,
    linksHtml: '<%= j render("restaurants/shared/links") %>'
  };
</script>
